body{
    background-color: rgb(31, 25, 25);
    max-width: 900px;
    margin-inline: auto;
    padding: 20px;
 
}
#uvod{
    color: white;
    text-align: center;
    margin-inline: auto;
    background: rgb(247, 158, 86);
    padding:1px;
    font-size: xx-large;
    border-radius: 10px;
    border: 8px double rgb(255, 94, 0);
  
    
}

#linkovi{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 15px;
    
}
.linkovi{
    color: rgb(209, 178, 178);
    text-decoration: none;
    padding: 4px;
    border: 3px inset white;
    border-radius: 4px;
}
.svi{
    color: rgb(209, 178, 178);
    font-size: xxx-large;
    margin-top: 60px;
}
img{
    max-width: 230px;
    max-height: 345px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
h3{
    color: rgb(209, 178, 178);
    text-align: center;
    margin: 3px;
    font-size: x-large;
    margin-bottom: 10px;
}
.koktel{
   
    width: fit-content;
    border-radius: 30px;
    margin-bottom: 50px;
    margin-right: 30px;
    
}
.sastojci{
    color: rgb(222, 205, 205);
    margin: 3px;
    font-size: medium;
}
#grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px, 1fr));
}